html {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background-color: #FFE8F8;
    text-align: center;
}

.name, .card-title {     
    font-family: 'Roboto', sans-serif;
}

.name {
    margin-top: 1em;
    font-size: 6em;
}

.contacts {
    margin-top: 1.5em;
    margin-bottom: 2em;
    font-size: 2em;
}

.contacts li {
    display: inline;
}

.contacts li+li {
    margin-left: 1em;
}

a {
    color: #D5FFCF;
    text-shadow: 1px 1px 1px #77B36D;
 }
 
 a:hover {
     color: #77B36D;
     text-shadow: none;
 }

 .about {
    width: 60%;
    font-size: 1.5em;
    margin-left: 20%;
    margin-bottom: 3em;
}

.projects {
    margin-left: 12.5vw;
    max-width: 75vw;
}

.card-container {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em
}

.card {
    box-shadow: 1px 1px 1px #B37FA3;
    background-color: #FFCFF0;
}

.card-image {
    max-width: 100%;
}

.card-body {
    padding: 0.5em;
}

.card-title {
    font-size: 2em;
    margin-bottom: 0.5em;
}