html {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background-color: white;
    text-align: center;
}

.wrapper {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.name, .card-title {     
    font-family: 'Roboto', sans-serif;
}

.name {
    margin-top: 1rem;
    font-size: 6rem;
}

.contacts {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.contacts li {
    display: inline;
}

.contacts li+li {
    margin-left: 1rem;
}

.contacts a {
    color: #FDDEFA;
    text-shadow: 1px 1px 1px #FAB4F1;
 }
 
 a:hover {
     color: #FAB4F1;
     text-shadow: none;
 }

 .about {
    width: 60%;
    font-size: 1.5rem;
    margin-left: 20%;
    margin-bottom: 3rem;
}

.card-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem
}

.card {
    box-shadow: 1px 1px 1px #B37FA3;
    background-color: #FFCFF0;
}

.card-image {
    height: 28vw;
    width: 100%;
}

.card-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-body {
    padding: 0.5rem;
}

.card-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

footer {
    background: #FFCFF0;
    padding: 1rem;
    text-align: left;
}