    </main>
    <footer>
      <nav>
        <a href="mailto:jamestmason1997@gmail.com"><i class="far fa-2x fa-envelope"></i></a>
        <a href="https://www.instagram.com/justjamesmason"><i class="fab fa-2x fa-instagram"></i></a>
        <a href="https://twitter.com/jamjarmason"><i class="fab fa-2x fa-twitter"></i></a>
        <a href="https://github.com/NarwhalHorns"><i class="fab fa-2x fa-github"></i></a>
      </nav>
      <a href="jamesmason.dev/secrecy/"><div id="secret"></div></a>
      <div id="copy"></div>
    </footer>
    <script src="./assets/scripts/main.js"></script>
  </body>
</html>
