@import reset.sass

html
  font-family: 'Open Sans', sans-serif
  // font-size: 120%

nav, footer, #logo
  display: flex
  justify-content: center

//-------------- Header --------------

header
  background-color: #2C8C99
  padding: 1em

#logo
  margin-bottom: 1em

#social
  margin-bottom: 1em
  a
    color: black
    ~ a
      margin-left: 10px
    &:hover
      color: pink

//-------------- Content --------------

main
  background-color: #42D9C8
  padding: 2em

//-------------- Projects ------------------

.project
  border: 1em

.project-name

.project-desc

//-------------- Blog ------------------

.post

.post-title

.post-content

//-------------- Footer ------------------

footer
  padding: 0.5em
  background-color: slategray
