@import reset.sass

$back-color: #F4F6F7

// ---------------------------------

html
  font-family: 'Open Sans', sans-serif
  ::selection
    background-color: lightpink
    color: #5BB36C
  ::-moz-selection
    background-color: lightpink
    color: #5BB36C

body
  padding: 1rem
  background-color: $back-color
  height: 100%

nav, footer, #logo
  display: flex
  justify-content: center

//-------------- Header --------------

#blog-link, #home-link
  position: absolute
  margin-top: 2rem
  margin-left: 1rem
  top: 0

#blog-link
  margin-right: 2rem
  right: 0

#logo
  margin-top: 1rem
  font-size: 4rem

#social
  margin-top: 2rem
  a
    + a
      margin-left: 2rem

a
  color: black
  text-decoration: none
  &:hover
    color: lightpink

//-------------- About --------------

@-webkit-keyframes disappearWork
  0%
    left: 0
    opacity: 1
  100%
    left: -2rem
    opacity: 0


@-webkit-keyframes disappearPlay
  0%
    left: 0
    opacity: 1
  100%
    left: 2rem
    opacity: 0

@-webkit-keyframes appearWork
  0%
    left: -2rem
    opacity: 0
  100%
    left: 0
    opacity: 1

@-webkit-keyframes appearPlay
  0%
    left: 2rem
    opacity: 0
  100%
    left: 0
    opacity: 1

#about
  margin-top: 2rem
  .menu
    width: 5rem
    display: inline-block
    color: lightpink
    position: relative
    h2
      transition: opacity 0.5s, transform 0.5s
      font-size: 5rem
      position: absolute
    ul
      transition: opacity 0.5s, transform 0.5s
      opacity: 0
      text-align: center
      font-size: 4rem
      li
        position: relative
        + li
          margin-top: 1rem
        p
          top: 1rem
          font-size: 2rem
          position: absolute
          display: none

#work
  bottom: 2.5rem
  h2
    transform-origin: top left
    transform: rotate(-90deg) translate(calc(4rem * -3 + 1rem * -2.5 - 50%), 0)
  p
    margin-left: 1rem
  &:hover
    h2
      opacity: 0
      -webkit-transform: rotate(-90deg) translate(calc(4rem * -3 + 1rem * -2.5 - 50%), -2rem)
    ul
      opacity: 1
      -webkit-transform: translate(0, 0)

#play
  position: absolute
  left: calc(100% - 10.3rem)
  h2
    transform-origin: bottom left
    transform: rotate(90deg) translate(calc(4rem * 2.5 + 1rem * 2 - 50%), 0)
  p
    right: calc(100% + 1rem)
  &:hover
    h2
      opacity: 0
      -webkit-transform: rotate(90deg) translate(calc(4rem * 2.5 + 1rem * 2 - 50%), -2rem)
    ul
      opacity: 1
      -webkit-transform: translate(0, 0)

#pream
  font-size: 1.25rem
  text-align: center

//-------------- Projects ------------------

#projects
  margin-top: 1rem
  display: flex
  align-content: space-around
  flex-wrap: wrap
  justify-content: space-between

$project-width: 15rem
$project-height: 10rem

.project
  background-color: $back-color
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  background-size: cover
  border-color: black
  border-style: solid
  border-width: 2px
  border-radius: 0.75rem
  margin-top: 1rem
  position: relative
  width: $project-width
  height: $project-height
  div
    text-align: center
    padding: 1rem
    width: calc(100% - 2rem)
    height: calc(100% - 2rem)
    border-radius: 0.75rem
    line-height: calc(#{$project-height} - 2rem)
  p, h3
    vertical-align: middle
    line-height: normal
  h3
    display: inline-block
    font-size: 1.5rem
  p
    display: none
  &:hover
    div
      background-color: transparentize(lightpink, 0.4)
    p
      display: inline-block
    h3
      display: none

//-------------- Blog ------------------

#blog

.post
  width: 70%

.post-title

.post-content

//-------------- Footer ------------------

footer
  padding-top: 2rem
  opacity: 0.4
