html {
    background-color: #FAEAF6;
}

body {
    background-color: #FAEAF6;
}

#wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ffdaf6;
}

/* HEADER */

#splash {
    width: 75%;
    max-width: 15rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

#name {
    text-align: center;
}

#splash-here {
    text-align: right;
}

#tabs {
    text-align: center;
    display: flex;
}

#tabs h2 {
    width: 50%;
    flex: 1;
}

/* PERSON AND PROJECTS */

#person-and-projects {
    padding: 1rem;
    border: 1px solid black;
}

.hidden {
    display: none;
}

/* PROJECTS */

.project-image {
    width: 100%;
    height: 100%;
}