html {
    background-color: #FAEAF6;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FAEAF6;
}

#wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.contacts a {
    color: black;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */

#board-border {
    background-color: rgb(187, 158, 104);
    padding: 10px;
    max-width: 400px;
    margin: auto;
    margin-top: 2rem;
    box-shadow: 2px 2px 10px 0px black;
    border-radius: 10px 10px;
}

#board {
    padding: 1rem;
    font-family: 'Permanent Marker', cursive;
    background-color: white;
    border-radius: inherit;
    box-shadow: inset 2px 2px 1px black;
}

#board-content {
    max-width: 15rem;
    margin: auto;
    font-size: 1.25rem;
}

#first-line {
    display: flex;
}

#board .first-line {
    flex: 1;
}

#smiley {
    text-align: right;
}

#name {
    text-align: center;
    font-size: 1.5rem;    
}

#board-here {
    text-align: right;
}

/* PERSON AND PROJECTS */

#person-and-projects {
    padding-top: 1rem;
}

#tabs {
    display: flex;
    font-family: 'Patrick Hand', cursive;
}

.tab-container {
    flex: 1;
    text-align: center;
}

.tab {
    background-color: rgb(212, 185, 135);
    display: inline-block;
    border-bottom: 1px solid black;
    box-shadow: 2px 0px 0px 0px black;
}

.tab-open {
    background-color: wheat;
    border-bottom: 1px solid wheat;
}

.tab h2 {
    padding: 0.5rem;
}

.hidden {
    display: none;
}

#person-projects-contents {
    background-color: wheat;
    box-shadow: 2px 2px 1px 1px black;
    padding: 1rem;
}

#person-projects-contents p {
    margin-top: 0.5rem;
}

/* PERSON */

.page {
    background-color: white;
    padding: 1rem;
}

#person > div:not(:first-child) {
    margin-top: 1rem;
}

#person-contacts > li:not(:first-child) {
    margin-top: 0.5rem;
}

#me {
    width: 100%;
    margin-bottom: 1rem;
}

#about {
    overflow: hidden;
}

#hobbies li {
    margin-top: 1rem;
}

#hobbies i {
    float: left;
    margin-right: 0.5rem;
}

#skills li {
    margin-top: 1rem;
}

#skills i {
    float: left;
    margin-right: 0.5rem;
}

.postit {
    margin-top: 20px;
    font-family: 'Pangolin', cursive;
    margin-bottom: 20px;
    width: 115%;
    transform: rotate(5deg);
    max-width: 260px;
}

.postit-head {
    height: 30px;
    background-color: rgb(255, 77, 45);
}

.postit-content {
    background-color: tomato;
    padding: 0.5rem;
    box-shadow: 2px 2px 1px 1px black;
}

/* PROJECTS */

#projects > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    background-color: white;
    padding: 1rem;
}

#projects > ul > div:not(:first-child) {
    margin-top: 1rem;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* FOOTER */

footer {
    margin-top: 1rem;
    padding: 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ffdaf6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer li {
    margin-left: 1%;
    display: inline;
}

footer p {
    flex: 1;
}

footer .contacts {
    text-align: right;
    flex: 1;
}

/* MEDIA CHANGES */

@media screen and (min-width: 340px) {
    footer {
        flex-direction: row;
    }

    #me {
        width: 40%;
        float: right;
        margin-left: 5%;
        margin-bottom: 0;
        max-width: 200px;
    }

    #board-content {
        font-size: 1.75rem;
    }
    #name {
        font-size: 2rem;    
    }
}

@media screen and (min-width: 768px) {
    #projects > ul{
        flex-direction: row;
    }

    .project {
        width: 45%;
    }

    #board-content {
        line-height: 3rem;
    }

    #board-border {
        max-width: 400px;    
    }

    #board-content {
        font-size: 2rem;
    }
    #name {
        font-size: 2.25rem;    
    }
}

@media screen and (min-width: 1024px) {
    #wrapper {
        max-width: 1000px;
    }
}