{% include header.html %}

<a id="blog-link" href="./blog">Blog</a>

<section id="about">
  <div id="pream">
    {{ content }}
  </div>

  <div id="work" class="menu">
    <h2>Work</h2>
    <ul>
      <li><i class="fab fa-html5"></i><p>HTML</p></li>
      <li><i class="fab fa-js"></i><p>JavaScript</p></li>
      <li><i style="margin-bottom: 0.75rem" class="fab fa-xs fa-sass"></i><p>Sass</p></li>
      <li><i class="fab fa-bootstrap"></i><p>Bootstrap</p></li>
      <li><i class="fab fa-java"></i><p>Java</p></li>
      <li><i class="fab fa-python"></i><p>Python</p></li>
    </ul>
  </div>

  <div id="play" class="menu">
    <h2>Play</h2>
    <ul>
      <li><p>Youtube</p><i class="fab fa-youtube"></i></li>
      <li><p>PS</p><i class="fab fa-playstation"></i></li>
      <li><p>Switch</p><i class="fab fa-nintendo-switch"></i></li>
      <li><p>DnD</p><i class="fab fa-d-and-d"></i></li>
      <li><p>Steam</p><i class="fab fa-steam"></i></li>
      <li><p>Reddit</p><i class="fab fa-reddit-alien"></i></li>
      <li><p>Film</p><i class="fas fa-film"></i></li>
    </ul>
  </div>
</section>

<section id="projects">
  {% for project in site.projects %}
    <div class="project" style="background-image: url(./assets/images/{{ project.image }})">
      <div>
        <h3>{{ project.name }}</h3>
        <p>{{ project.content }}</p>
      </div>
    </div>
  {% endfor %}
</section>

{% include footer.html %}
