html {
    font-family: 'Calibre Regular', sans-serif;
    line-height: 1.5;
    background-color: #09002d;
    text-align: center;
    color: #ffffff;
}

a {
    color: #FAB4F1;
    text-decoration: none;
}

.wrapper {
    position: relative;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding-top: 30vh;
    height: 70vh;
    position: relative;
}

.name {
    font-family: 'Calibre Medium', sans-serif;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.contacts {
    margin-bottom: 10vh;
    font-size: 1.5rem;
}

.contacts li {
    display: inline;
}

.contacts li+li {
    margin-left: 1rem;
}

.contacts a {
    color: #FAB4F1;
    transition: text-shadow 100ms, color 100ms;
    text-shadow: 1px 1px 1px #FFFFFF;
}
 
.contacts a:hover {
    text-shadow: none;
}

 .about {
    font-size: 1.5rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.more {
    padding-bottom: 2rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 1.5rem;
}

.projects {
    padding: 1rem;
}

.card {
    box-shadow: 3px 3px 3px #FFFFFF;
    background-color: #FAB4F1;
    margin-bottom: 1rem;
    border-radius: 7px;
}

.card:last-of-type {
    margin-bottom: 0;
}

.card-image {
    height: 50vw;
    width: 100%;
    border-radius: inherit;
}

.card-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-body {
    padding: 1rem;
    font-size: 1rem;
}

.card-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.card-p {
    margin-bottom: 0.5rem;
}

.links li {
    display: inline-block;
}

.links li+li {
    margin-left: 1rem;
}

.links a {
    color: black;
    transition: text-shadow 100ms, color 100ms;
    text-shadow: 1px 1px 1px slategrey;
 }
 
 .links a:hover {
    color: #D00EB7;
    text-shadow: none;
 }

footer {
    background: #FFCFF0;
    padding: 1rem;
}