.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card {
    margin-bottom: 0;
}

.card:nth-child(2n + 1):last-child {
    margin-right: -50%;
    margin-left: 50%;
}

.card-image {
    height: 35vw;
}